<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <form method="POST">
        <input id="title" name="title" type="text" required><br>
        <select id="location" name="location" required>
            <option value="remote">Remote</option>
            <option value="on-site">On-site</option>
        </select><br>
        <input id="skills" name="skills" type="text" required><br>
        <input id="salary" name="salary" type="number" required><br>
        <input id="duration" name="duration" type="text" required><br>
        <input id="deadline" name="deadline" type="date" required><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
