<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/form_validator.js" defer></script>
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Internship Management</h1>
        </div>
        <div class="nav-div">
            <nav>
                <a href="/admin/login">Company Login</a>
                <a href="/">Home</a>
            </nav>
        </div>
    </div>

    <div class="login-container">
        <h2>Student Registration</h2>

        <form id="password-form" method="post">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>

            <div class="form-group">
                <label for="password">Create Password</label>
                <input type="password" id="password" name="password" required />
            </div>

            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="confirm" required />
            </div>

            <button type="submit" class="login-button">Register</button>
        </form>

        <div class="footer-text">
            Already have an account? <a href="login_student.html">Login here</a>
        </div>
    </div>
    <div class="center" id="alert">
    <%if (failed) {%>
        <div class="alert">
            <p>Email already registered</p>
        </div>
    <%}%>
    </div>
</body>
</html>
