<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <p>Comment: <%=comment%></p>
    <a href="/api/applications/<%=id%>">Portfolio</a>
    <form method="POST">
        <select id="status" name="status">
            <option value="rejected">Reject</option>
            <option value="shortlisted">Shortlist</option>
            <option value="accepted">Accept</option>
        </select><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>
