<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Applications</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>My Applications</h1>
        </div>
        <div class="nav-div">
            <nav>
                <a href="/student/internship">Dashboard</a>
                <a href="/student/logout">Log out</a>
            </nav>
        </div>
    </div>

    <div class="dashboard-container">
        <div class="internships-grid" id="internshipsContainer">
            <%applications.forEach((application) => {%>
            <a href="/student/internship/<%=application.internship_id%>">
                <div class="internship-card">
                    <h3><%=application.title%></h3>
                    <p>Company: <%=application.name%></p>
                    <p>Status: <%=application.status ? application.status : "On review"%></p>
                </div>
            </a>
            <%})%>
        </div>
    </div>
</body>
</html>
