<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
  </head>

  <div class="header">
    <div class="title">
      <h1>Internship Management</h1>
    </div>

    <div class="nav-div">
      <nav>
        <a href="login_company.html">Company Login</a>
        <a href="login_student.html">Student Login</a>
      </nav>
    </div>
  </div>

  <div class="welcome">
    <p>Welcome to Intership Management</p>

    <p class="slogan">Manage and apply for internships seamlessly.</p>

    <div class="side-actions">
      <div class="cmpstu">
        <p>For Companies</p>

        <a href="login_company.html">Go to Dashboard</a>
      </div>

      <div class="cmpstu">
        <p>For Students</p>

        <a href="login_student.html">View and apply Internship</a>
      </div>
    </div>
  </div>

  <body></body>
</html>
