<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="header">
    <div class="title">
      <h1>Internship Management</h1>
    </div>
    <div class="nav-div">
      <nav>
        <a href="student_profile.html">Your Profile</a>
        <a href="index.html">Log out</a>
      </nav>
    </div>
  </div>

  <div class="dashboard-container">
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search internships..."/>
    </div>

    <div class="internships-grid" id="internshipsContainer">
      <!-- Internship cards -->
      <div class="internship-card">
        <h3>Frontend Developer</h3>
        <p><strong>Company:</strong> TechNova</p>
        <p><strong>Location:</strong> Remote</p>
        <p><strong>Duration:</strong> 3 Months</p>
      </div>

      <div class="internship-card">
        <h3>Data Analyst Intern</h3>
        <p><strong>Company:</strong> DataHive</p>
        <p><strong>Location:</strong> On-site (Dubai Marina)</p>
        <p><strong>Duration:</strong> 4 Months</p>
      </div>

      <div class="internship-card">
        <h3>UI/UX Designer</h3>
        <p><strong>Company:</strong> Creatix</p>
        <p><strong>Location:</strong> Hybrid</p>
        <p><strong>Duration:</strong> 3 Months</p>
      </div>
